/* Base styles */

html{
	font-size: 62.5%;
}

body{
	background-color: #F5F5F5;

	font-family: 'Roboto', sans-serif;
	font-size: 2.1rem;
	font-weight: normal;
	line-height: 135%;
	padding-bottom: 2.8rem;
}

h1{
	font-weight: 700;
	font-size: 4rem;
	padding-bottom: 2.8rem;
	line-height: 110%;
}

p{

}

p a:link{
	text-decoration: underline;
	color: #FFFFFF;
}

p a:hover{
  color: #892A6E;
}

p a:active{
  color: #892A6E;
}

p a:visited{
	color: #CCA3C0;
}

p a:visited:hover{
  color: #892A6E;
}

a:link{
	text-decoration: none;
}

.container{
	margin: 3.2rem auto 6.4rem;
	padding: 3.2rem;
	max-width: 45rem;

	border-width: 0 0 0 0.64rem;
	border-style: solid;
	border-color: #99B8C6;

	background-color: #503047;
	color: #FFFFFF;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection,
img::selection,
b::selection,
strong::selection,
i::selection,
em::selection,
mark::selection,
small::selection,
del::selection,
ins::selection,
sub::selection,
sup::selection{
  background: #99B8C6;
}

/* Footer */

.footer{
	text-align: center;

	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 1.28rem;
	color: #878787;
}

.footer a:link{
	color: #878787;
}

.footer a:hover{
	color: #a9a9a9;
}

.footer a:active{
	color: #a9a9a9;
}

.footer a:visited{
	color: #878787;
}

.footer a:visited:hover{
	color: #a9a9a9;
}

img.img-icon-inline{
	height: 1.28rem;
}

/* Profile photo */

.img-profile-padding{
	padding: 1.6rem 0 3.2rem;
}

img.img-profile-round{
	border-radius: 80rem;
	width: 12.8rem;
	display: block;
}

/* Navigation */

.nav-home{
	font-size: 1.8rem;
	padding-bottom: 0;
}

.nav-home a:link{
	text-decoration: none;
	color: #CCA3C0;
}

.nav-home a:hover{
	color: #892A6E;
}

.nav-home a:active{
	color: #892A6E;
}

.nav-home a:visited{
	color: #CCA3C0;
}

.nav-home a:visited:hover{
	color: #892A6E;
}

/* Social links */

.list-social a:link{
	text-decoration: none;
}

.list-social a:hover{
	color: #892A6E;
}

.list-social a:active{
	color: #892A6E;
}

.list-social a:visited{
	color: #FFFFFF;
}

.list-social a:visited:hover{
	color: #892A6E;
}

.list-social{
	list-style-type: none;
	padding-left: 1.6rem;
	line-height: 3.2rem;
}

.list-facebook{
	background: url(../assets/facebook.png) 0 0.64rem no-repeat no-repeat;
	background-size: 1.6rem 1.6rem;
	padding-left: 2.24rem;
}

.list-linkedin{
	background: url(../assets/linkedin.png) 0 0.64rem no-repeat no-repeat;
	background-size: 1.6rem 1.6rem;
	padding-left: 2.24rem;
}

.list-instagram{
	background: url(../assets/instagram.png) 0 0.64rem no-repeat no-repeat;
	background-size: 1.6rem 1.6rem;
	padding-left: 2.24rem;
}

.list-github{
	background: url(../assets/github-white.png) 0 0.64rem no-repeat no-repeat;
	background-size: 1.6rem 1.6rem;
	padding-left: 2.24rem;
}

.list-youtube{
	background: url(../assets/youtube.png) 0 0.96rem no-repeat no-repeat;
	background-size: 1.6rem;
	padding-left: 2.24rem;
}