/* Base styles */

html{
	font-size: 62.5%;
}

body{
	background-color: #F5F5F5;

	font-family: 'Roboto', sans-serif;
	font-size: 2.1rem;
	font-weight: normal;
	line-height: 1.5;
}

h1{
	font-weight: 700;
	font-size: 4rem;
	padding-top: 1rem;
	padding-bottom: 1.5rem;
	line-height: 1.5;
}

p{
	padding-bottom: 2.8rem;
}

section{
	margin: 3.2rem auto 6.4rem;
	padding: 3.2rem;
	width: 450px;
	max-width: 90%;

	border-width: 0 0 0 7px;
	border-style: solid;
	border-color: #99B8C6;

	background-color: #503047;
	color: #FFFFFF;
}

section a:link{
	text-decoration: underline;
	color: #FFFFFF;
}

section a:hover{
  color: #892A6E;
}

section a:active{
  color: #892A6E;
}

section a:visited{
	color: #CCA3C0;
}

section a:visited:hover{
  color: #892A6E;
}

a:link{
	text-decoration: none;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection,
img::selection,
b::selection,
strong::selection,
i::selection,
em::selection,
mark::selection,
small::selection,
del::selection,
ins::selection,
sub::selection,
sup::selection,
article::selection,
aside::selection,
details::selection,
figcaption::selection,
figure::selection,
footer::selection,
header::selection,
main::selection,
mark::selection,
nav::selection,
section::selection,
summary::selection,
time::selection{
  background: #99B8C6;
}

/* Footer */

footer{
	text-align: center;

	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 1.28rem;
	color: #878787;
}

footer a:link{
	color: #878787;
}

footer a:hover{
	color: #a9a9a9;
}

footer a:active{
	color: #a9a9a9;
}

footer a:visited{
	color: #878787;
}

footer a:visited:hover{
	color: #a9a9a9;
}

img.img-icon-inline{
	height: 1em;
}

/* Profile photo */

.img-profile-padding{
	padding: 2.2rem 0 1.3rem;
}

img.img-profile-round{
	border-radius: 50%;
	width: 7em;
	display: block;
}

/* Navigation */

nav{
	font-size: 1.8rem;
}

nav a:link{
	text-decoration: none;
	color: #CCA3C0;
}

nav a:hover{
	color: #892A6E;
}

nav a:active{
	color: #892A6E;
}

nav a:visited{
	color: #CCA3C0;
}

nav a:visited:hover{
	color: #892A6E;
}

/* Social links */

.list-social a:link{
	text-decoration: none;
	color: #FFFFFF;
}

.list-social a:hover{
	color: #892A6E;
}

.list-social a:active{
	color: #892A6E;
}

.list-social a:visited{
	color: #FFFFFF;
}

.list-social a:visited:hover{
	color: #892A6E;
}

.list-social{
	list-style-type: none;
	padding-left: 1.8rem;
	line-height: 3.2rem;
}

.list-facebook{
	background: url(../assets/facebook.png) 0 0.64rem no-repeat no-repeat;
	background-size: 1.6rem 1.6rem;
	padding-left: 2.6rem;
}

.list-linkedin{
	background: url(../assets/linkedin.png) 0 0.64rem no-repeat no-repeat;
	background-size: 1.6rem 1.6rem;
	padding-left: 2.6rem;
}

.list-instagram{
	background: url(../assets/instagram.png) 0 0.64rem no-repeat no-repeat;
	background-size: 1.6rem 1.6rem;
	padding-left: 2.6rem;
}

.list-github{
	background: url(../assets/github-white.png) 0 0.64rem no-repeat no-repeat;
	background-size: 1.6rem 1.6rem;
	padding-left: 2.6rem;
}

.list-youtube{
	background: url(../assets/youtube.png) 0 0.96rem no-repeat no-repeat;
	background-size: 1.6rem;
	padding-left: 2.6rem;
}

/* Mobile styles */
